<div class="vent-type-div">
  <h4>Most Popular Vents</h4>
  <h4>Most Resent Vents</h4>
  <h4>Search By Emotion or Tag</h4>
  <form class="main-search">
	  <input type="text" class="form-control" placeholder="Search...">
	</form>
</div>
<div class="tags">
	<span class="label label-info tag">x happy</span>
	<span class="label label-info tag">x gardens</span>
  <span class="label label-info tag">x love</span> <!-- all to lowercase. -->
  <span class="label label-info tag">x happy</span>
	<span class="label label-info tag">x happy</span>
	<span class="label label-info tag">x happy</span>
	<span class="label label-info tag">x happy</span>
	<span class="label label-info tag">x happy</span>
</div>
<div class="news-feed">
	<div class="feed-vent">
		<h3>I'm a title and a link</h3>
		<p>
			I'm a colapsable story. :)
			before post link can be redirected to post page user must sign in or sign up
			Maybe user can make man s/n's attached to one email to recieve messages
			User must select topics to attach their vent to or pick from popular topics
		</p>
	</div>
	<div class="feed-vent">
		<h3>I'm a title</h3>
		<p>
			I'm a story. 
			before post link can be redirected to post page user must sign in or sign up
			Maybe user can make man s/n's attached to one email to recieve messages
			User must select topics to attach their vent to or pick from popular topics
		</p>
	</div>
	<div class="feed-vent">
		<h3>I'm a title</h3>
		<p>
			I'm a vent. 
			before post link can be redirected to post page user must sign in or sign up
			Maybe user can make man s/n's attached to one email to recieve messages
			User must select topics to attach their vent to or pick from popular topics
		</p>
  </div>
	<div class="feed-vent">
		<h3>I'm a title</h3>
		<p>
			I'm a vent. 
			before post link can be redirected to post page user must sign in or sign up
			Maybe user can make man s/n's attached to one email to recieve messages
			User must select topics to attach their vent to or pick from popular topics
		</p>
	</div>
	<div class="feed-vent">
		<h3>I'm a title</h3>
		<p>
			I'm a vent. 
			before post link can be redirected to post page user must sign in or sign up
			Maybe user can make man s/n's attached to one email to recieve messages
			User must select topics to attach their vent to or pick from popular topics
		</p>
	</div>
</div>