<h1>MY POSTS</h1>


<h2>NEW post form on the top of this page</h2>

<h3>table of all user's posts with link to DELETE and EDIT post next to each post.</h3>

replace sign in and sign up with Sign out and My posts